<div id="main-search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <div class="form-row">
      <mat-form-field class="form-item">
        <input type="text" maxlength="7" formControlName="priceFrom" placeholder="Cena od" matInput [matAutocomplete]="priceAutocomplete">
        <mat-autocomplete #priceAutocomplete="matAutocomplete">
          <mat-option *ngFor="let price of priceOptions" [value]="price">
            {{price}} zł
          </mat-option>
        </mat-autocomplete>
        <span matSuffix> zł </span>
      </mat-form-field>

      <mat-form-field class="form-item">
        <input type="text" maxlength="7" formControlName="priceTo" placeholder="Cena do" matInput [matAutocomplete]="priceAutocomplete">
        <span matSuffix> zł </span>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-item">
        <mat-label>Segment</mat-label>
        <mat-select multiple formControlName="segments">
          <mat-option *ngFor="let segment of segmentOptions" [value]="segment">{{segment}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Marka</mat-label>
        <mat-select multiple formControlName="brands">
          <mat-option *ngFor="let brand of brandOptions" [value]="brand">{{brand}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Nadwozie</mat-label>
        <mat-select multiple formControlName="carbodies">
          <mat-option *ngFor="let carbody of carbodyOptions" [value]="carbody">{{carbody}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Paliwo</mat-label>
        <mat-select multiple formControlName="fuels">
          <mat-option *ngFor="let fuel of fuelOptions" [value]="fuel">{{fuel}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-item">
        <input type="text" maxlength="3" formControlName="powerFrom" placeholder="Moc od" matInput [matAutocomplete]="powerAutocomplete">
        <mat-autocomplete #powerAutocomplete="matAutocomplete">
          <mat-option *ngFor="let power of powerOptions" [value]="power">
            {{power}} KM
          </mat-option>
        </mat-autocomplete>
        <span matSuffix> KM </span>
      </mat-form-field>

      <mat-form-field class="form-item">
        <input type="text" maxlength="3" formControlName="powerTo" placeholder="Moc do" matInput [matAutocomplete]="powerAutocomplete">
        <span matSuffix> KM </span>
      </mat-form-field>

      <mat-form-field class="form-item">
        <input type="text" maxlength="5" formControlName="engineCapacityFrom" placeholder="Pojemność od" matInput [matAutocomplete]="engineCapacityAutocomplete">
        <mat-autocomplete #engineCapacityAutocomplete="matAutocomplete">
          <mat-option *ngFor="let capacity of engineCapacityOptions" [value]="capacity">
            {{capacity}} cm3
          </mat-option>
        </mat-autocomplete>
        <span matSuffix> cm3 </span>
      </mat-form-field>

      <mat-form-field class="form-item">
        <input type="text" maxlength="5" formControlName="engineCapacityTo" placeholder="Pojemność do" matInput [matAutocomplete]="engineCapacityAutocomplete">
        <span matSuffix> cm3 </span>
      </mat-form-field>
    </div>

    <div class="form-row">
      <a [routerLink]="['/cars']">
        <button mat-raised-button class="form-item" type="submit">
          <i class="material-icons">search</i> SZUKAJ
        </button>
      </a>
    </div>
  </form>

  <pre>{{searchCriteriaInJson | json}}</pre>
</div>
