#main-search
  margin-top: 50px

//form
//  display: flex
//  flex-flow: row wrap
//  justify-content: space-around

.form-row
  text-align: center

.form-item
  display: inline-block
  width: 200px
  margin: 10px
