<div id="main-search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <div class="form-row">
      <input id="priceFrom" class="form-item" type="text" formControlName="priceFrom" placeholder="Cena od">
      <input id="priceTo" class="form-item" type="text" formControlName="priceTo" placeholder="Cena do">
      <ng-multiselect-dropdown class="form-item" [placeholder]="'Marka'" [data]="brandDropdownData" formControlName="brands" [settings]="dropdownSettings"></ng-multiselect-dropdown>
      <ng-multiselect-dropdown class="form-item" [placeholder]="'Segment'" [data]="segmentDropdownData" formControlName="segments" [settings]="dropdownSettings"></ng-multiselect-dropdown>
      <ng-multiselect-dropdown class="form-item" [placeholder]="'Nadwozie'" [data]="carbodyDropdownData" formControlName="carbodies"
                               [settings]="dropdownSettings"></ng-multiselect-dropdown>
    </div>
    <div class="form-row">
      <ng-multiselect-dropdown class="form-item" [placeholder]="'Paliwo'" [data]="fuelDropdownData" formControlName="fuels" [settings]="dropdownSettings"></ng-multiselect-dropdown>
      <input id="powerFrom" class="form-item" type="text" formControlName="powerFrom" placeholder="Moc od">
      <input id="powerTo" class="form-item" type="text" formControlName="powerTo" placeholder="Moc do">
      <input id="engineCapacityFrom" class="form-item" type="text" formControlName="engineCapacityFrom" placeholder="Pojemność od">
      <input id="engineCapacityTo" class="form-item" type="text" formControlName="engineCapacityTo" placeholder="Pojemność do">
    </div>
    <div class="form-row">
      <button class="searchButton" class="form-item" type="submit">
        <i class="fa fa-search"></i> SZUKAJ
      </button>
    </div>
  </form>

  <pre>{{searchCriteriaInJson | json}}</pre>
</div>
